
@{
    ViewData["Title"] = "Access Denied";
}
<h2>@ViewData["Title"].</h2>
<h3>Associate your @ViewData["LoginProvider"] account.</h3>
<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Association Form</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <p class="text-info">
        Acces Denied.Please Associate Your Account With Sytem10.
    </p>

</form>