

@{

    ViewData["Title"] = "Email Confirmation";
}

<h2>@ViewData["Title"]</h2>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">We will send confirmation to your Email which contains a Link. please click that link to finish your Registration.</div>

    </div>


}















