@model System10.Models.DboCredential

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>DboCredential</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="BintId" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="BEnabled" />
                    <label asp-for="BEnabled"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="BIsGroup" />
                    <label asp-for="BIsGroup"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="BSmokeTest" />
                    <label asp-for="BSmokeTest"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bin64PasswordHash" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bin64PasswordHash" class="form-control" />
                <span asp-validation-for="Bin64PasswordHash" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BintCreatorCredentialId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="BintCreatorCredentialId" class="form-control" asp-items="ViewBag.BintCreatorCredentialId"></select>
                <span asp-validation-for="BintCreatorCredentialId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BintCreatorSpoofOfCredentialId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="BintCreatorSpoofOfCredentialId" class="form-control" asp-items="ViewBag.BintCreatorSpoofOfCredentialId"></select>
                <span asp-validation-for="BintCreatorSpoofOfCredentialId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BintModifierCredentialId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="BintModifierCredentialId" class="form-control" asp-items="ViewBag.BintModifierCredentialId"></select>
                <span asp-validation-for="BintModifierCredentialId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BintModifierSpoofOfCredentialId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="BintModifierSpoofOfCredentialId" class="form-control" asp-items="ViewBag.BintModifierSpoofOfCredentialId"></select>
                <span asp-validation-for="BintModifierSpoofOfCredentialId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DtCreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DtCreated" class="form-control" />
                <span asp-validation-for="DtCreated" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DtModified" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DtModified" class="form-control" />
                <span asp-validation-for="DtModified" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nvch128Caption" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nvch128Caption" class="form-control" />
                <span asp-validation-for="Nvch128Caption" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vchr256CreatedContext" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vchr256CreatedContext" class="form-control" />
                <span asp-validation-for="Vchr256CreatedContext" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vchr256ModifiedContext" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vchr256ModifiedContext" class="form-control" />
                <span asp-validation-for="Vchr256ModifiedContext" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Vchr32Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Vchr32Name" class="form-control" />
                <span asp-validation-for="Vchr32Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
